<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitCompensation</servlet-name>
        <servlet-class>Servlets.submitCompensation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printInsurance</servlet-name>
        <servlet-class>Servlets.printInsurance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renewInsurance</servlet-name>
        <servlet-class>Servlets.renewInsurance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitCompensation</servlet-name>
        <url-pattern>/submitCompensation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printInsurance</servlet-name>
        <url-pattern>/printInsurance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renewInsurance</servlet-name>
        <url-pattern>/renewInsurance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
